<th:block th:fragment="content" xmlns:th="http://www.thymeleaf.org">
	<form th:action="@{/pageForm/save}" method="post" th:object="${page}" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageId"> ID </label>
			<div class="col-sm-9">
				<input type="text" placeholder="ID" class="form-control" th:field="*{pageId}" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pagePageId"> PAGE FATHER </label>
			<div class="col-sm-9">
				<select th:field="*{pagePageId}" class="chosen-select col-xs-11" data-placeholder="Choose a Page Father o Master...">
					<option value="NONE" label="---- Select ----" />
					<option th:each="item : ${pagesMasterList}" th:text="${item.pageDisplay}" th:Value="${item.pageId}" />
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageDisplay"> Name </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" th:field="*{pageDisplay}" />
			</div>
		</div>
		<!-- <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="pageNomenclature"> Nomenclature </label>
            <div class="col-sm-9">
                <sf:input type="text" class="col-xs-11" path="pageNomenclature" />
            </div>
        </div> -->
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageDescription"> Descripcion </label>
			<div class="col-sm-9">
				<textarea class="form-control" th:field="*{pageDescription}" rows="3" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageUrl"> Url </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" th:field="*{pageUrl}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageEntities">Entities</label>

			<div class="col-sm-9">
				<!-- #section:plugins/input.multiselect   -->
				<select  id="pageEntities" class="form-control dual_select" multiple="multiple" name="pageEntities">
					<option th:each="ent : ${entitiesList}" th:text="${ent.enttName}" th:value="${ent.idAsString}" th:selected="${#lists.contains( pagEntList, ent.enttId)}" />
				</select>

				<!-- /section:plugins/input.multiselect -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageActive"> ACTIVE </label>
			<div class="col-sm-9">
				<div class="i-checks">
					<label> <input type="checkbox" th:field="*{pageActive}" value="true" /> <i></i>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageCreatedBy"> CREATED BY </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" th:field="*{pageCreatedBy}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="pageUpdateBy"> UPDATE BY </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" th:field="*{pageUpdateBy}" />
			</div>
		</div>
	</form>
</th:block>



<script type="text/javascript">
	jQuery(function($) {
		/* $('.chosen-select').chosen({
		    allow_single_deselect : true,
		    width : "100%"
		});
		
		$('.i-checks').iCheck({
		    checkboxClass: 'icheckbox_square-green',
		    radioClass: 'iradio_square-green',
		});
		console.log("Entro al script ...");
		var demo1 = $('#pageEntities').bootstrapDualListbox({
		    infoTextFiltered : '<span class="label label-purple label-lg">Filtered</span>',
		    // preserveSelectionOnMove : 'moved',
		    moveOnSelect : false,
		    eventMoveOverride : true, // boolean, allows user to unbind default event behaviour
		    // and run their own instead
		    eventMoveAllOverride : true, // boolean, allows user to unbind default event
		    // behaviour and run their own instead
		    eventRemoveOverride : true, // boolean, allows user to unbind default event behaviour
		    // and run their own instead
		    eventRemoveAllOverride : true
		});

		var container1 = demo1.bootstrapDualListbox('getContainer');
		container1.find('.btn').addClass('btn-white btn-info btn-bold');

		demo1.trigger('bootstrapDualList box.refresh', true); 
		
		 */

	});
</script>