<th:block th:fragment="content" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/userFormulario/save}" method="post" th:object="${user}" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userId"> ID </label>
			<div class="col-sm-9">
				<input type="text" placeholder="ID" class="form-control" th:field="*{userId}" readonly />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userUsername"> Account User </label>
			<div class="col-sm-9">
				<input type="text" placeholder="LASTNAME.NAME" class="col-xs-11" th:field="*{userUsername}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userEmesCompany"> BU </label>
			<div class="col-sm-9">
				<input type="text" placeholder="LCTPC" class="col-xs-11" th:field="*{userEmesCompany}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userEmesId"> NUM. EMPLOYEE </label>
			<div class="col-sm-9">
				<input type="text" placeholder="# EMPLOYEE" class="col-xs-11" th:field="*{userEmesId}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userActive"> ACTIVE </label>
			<div class="col-sm-9">
			 <div class="i-checks">
                    <label> <input type="checkbox" th:field="*{userActive}" value="true" /> <i></i>
                    </label>
                </div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userCreatedBy"> CREATED BY </label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-11" th:field="*{userCreatedBy}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="userUpdateBy"> UPDATE BY </label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-11" th:field="*{userUpdateBy}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="accountInf.acinProfilePicture"> PROFILE PICTURE </label>
			<div class="col-sm-9">
				<input type="text" placeholder="SELECT PICTURE" class="col-xs-11" th:field="*{accountInf.acinProfilePicture}" />
			</div>
		</div>
		<!-- <div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="accountInf.acinTelephone"> TELEPHONE </label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-11" th:field="*{accountInf.acinTelephone}" />
			</div>
		</div> -->
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="accountInf.acinAlternateEmail"> ALTERNATE EMAIL </label>
			<div class="col-sm-9">
				<input type="text" placeholder="example@domain.com" class="col-xs-11" th:field="*{accountInf.acinAlternateEmail}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="accountInf.acinCreatedBy"> CREATED BY </label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-11" th:field="*{accountInf.acinCreatedBy}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="accountInf.acinUpdateBy"> UPDATE BY </label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-11" th:field="*{accountInf.acinUpdateBy}" />
			</div>
		</div>
	<input type="hidden" placeholder="ID" th:field="*{accountInf.acinUserId}" readonly />
</form>
</th:block>