<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet">
<th:block th:replace="templates/template :: header-css(${'Administracion Users'})" />


<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
<link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
<!-- Sweet Alert -->
<link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
<!--  -->
<link th:href="@{css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
<!-- Dropzone style -->
<link th:href="@{/css/plugins/dropzone/basic.css}" rel="stylesheet">
<link th:href="@{/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
<!-- Image cropper -->
<link th:href="@{/css/plugins/cropper/cropper.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/pages/users/css/style.css}" />
</head>

<body class="pace-done skin-1">

	<div id="wrapper">
		<th:block th:replace="templates/template :: left-nav" />

		<div id="page-wrapper" class="gray-bg">
			<div class="row border-bottom">
				<th:block th:replace="templates/template :: top-nav" />
			</div>
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-sm-8">
						<div class="ibox">
							<div class="ibox-content">
								<span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014
								</span>
								<h2>Users</h2>
								<p>All users need to be verified before you can send email and set a project.</p>
								<div class="input-group">
									<input id="txtSearch" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
										<button id="sUsers" type="button" class="btn btn-sm btn-primary">Search</button>
										<button type="button" id="btn-loading" class="btn btn-white btn-sm">
											<i class="fa fa-refresh"></i> Refresh
										</button>
										<button type="button" id="btn-New" class="btn btn-white btn-sm" href='#myModalUsers' role='button' data-toggle='modal'>
											<i class='fa fa-user-plus'></i> New User
										</button>
									</span>
								</div>
								<div class="clients-list">
									<div class="panelCu">
										<div class="full-height-scroll">
											<div class="table-responsive">
												<table class="table table-striped table-hover" id="tableUsers">
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="ibox ">
							<div class="ibox-content">
								<div class="tab-content">
									<div id="contact-1" class="tab-pane active">
										<div class="row m-b-lg">
											<div class="col-lg-4 text-center">
												<!-- <h5 id="lblUser1">Nicki Smith</h5>    -->
												<!-- th:src="@{/res/plantilla/INSPINIA/img/emp_764.bmp}" -->
												<div class="m-b-sm">
													<img id="img-Emp" alt="image" class="img-circle" style="width: 62px">
												</div>
												<span id="lblNomActive"></span>
											</div>
											<div class="col-lg-8">
												<strong id="lblName"> About me </strong>
												<table class="table small m-b-xs">
													<tbody>
														<tr>
															<td><strong>Job</strong></td>
															<td id="lblJob"></td>
														</tr>
														<tr>
															<td><strong>Dept</strong></td>
															<td id="lblDepto"></td>
														</tr>
														<tr>
															<td><strong>Admission</strong></td>
															<td id="lblAdmission"></td>
														</tr>
													</tbody>
												</table>


											</div>
											<div class="col-lg-12 text-center">
												<div class="m-t-xs btn-group">
													<a class='btn btn-white btn-xs' id='btn-edit' href='#myModalUsers' role='button' data-toggle='modal' disabled="disabled"> <i
														class='fa fa-pencil'></i> Edit
													</a> <a class='btn btn-white btn-xs' id='btn-resetPass' data-target="#myModalPass" role='button' data-toggle='modal' disabled="disabled">
														<i class='fa fa-key'></i> Reset Pass
													</a> <a class='btn btn-white btn-xs' id='btn-delete' disabled="disabled" role='button'> <i class='fa fa-trash-o'></i> Delete
													</a>
												</div>

											</div>
										</div>
										<div class="client-detail">
											<div class="full-height-scroll">
												<br> <strong><i class='fa fa-user'></i> Info Details</strong>
												<table class="table small m-b-xs">
													<tbody>
														<tr>
															<td class="pull-right"><strong>User</strong></td>
															<td id="lblUser"></td>
														</tr>
														<tr>
															<td class="pull-right"><strong>Email</strong></td>
															<td id="lblEmail"></td>
														</tr>
														<tr>
															<td class="pull-right"><strong>Alt Email</strong></td>
															<td id="lblAltEmail"></td>
														</tr>
														<tr>
															<td class="pull-right"><strong>Password</strong></td>
															<td><span id="lblPass"></span></td>
														</tr>

													</tbody>

												</table>
												<hr>
												<span class="text-muted small pull-right"> <a class='btn btn-success btn-xs' id='btn-AssignRol' role='button'
													data-target="#myModalRoles" data-toggle='modal'> <i class='fa fa-plus'></i> Add Rol
												</a>
												</span> <strong><i class='fa fa-users'></i> Roles Assigned</strong>
												<table class="table small m-b-xs" id="tableRoles">
												</table>
												<span class="text-muted small pull-right"> <a class='btn btn-success btn-xs' id='btn-AssignAppn' role='button'
													data-target="#myModalAppns" data-toggle="modal"> <i class='fa fa-plus'></i> Add App
												</a>
												</span> <strong><i class='fa fa-list-alt'></i> Applications Assigned</strong>
												<table class="table small m-b-xs" id="tableApps">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal inmodal fade" id="myModalUsers" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">Form User</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<!-- <form action="#" class="dropzone" id="dropzoneForm">
			                                <div class="fallback">
			                                    <input name="file" type="file"  />
			                                </div>
			                            </form> -->
										<!-- <div class="form-group">
											<label class="col-sm-2 control-label no-padding-right" for="userId"> Select Image </label>
											<div class="col-sm-10">
												<input type="file" id="upload" class="form-control input-sm">
												<button class="btn btn-success upload-result">Upload Image</button>
											</div>
										</div>
										<div class="col-md-8 text-center">
											<div id="upload-demo" style="width: 350px"></div>
										</div>
										<div class="col-md-4" style="">
											<div id="upload-demo-i" style="background: #e1e1e1; width: 300px; padding: 30px; height: 300px; margin-top: 30px"></div>
										</div> 
										
										-->
										<form id="form-imageUser" enctype="multipart/form-data">
											<div class="img-cont">
												<img id="image" th:src="@{/images/user1.png}" alt="Picture">
											</div>
											<div class="btn-group">
												<button id="btn-arrows" type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
													<i class="fa fa-arrows"></i>
												</button>
												<button id="btn-crop" type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
													<i class="fa fa-crop"></i>
												</button>
											</div>
											<div class="btn-group">
												<button class="btn btn-white" id="zoomIn" type="button">
													<i class='fa fa-search-plus'></i>
												</button>
												<button class="btn btn-white" id="zoomOut" type="button">
													<i class='fa fa-search-minus'></i>
												</button>
												<button class="btn btn-white" id="rotateRight" type="button">
													<i class='fa fa-undo'></i>
												</button>
												<button class="btn btn-white" id="rotateLeft" type="button">
													<i class='fa fa-repeat'></i>
												</button>
												<button class="btn btn-warning" id="setDrag" type="button">New crop</button>
											</div>
											<div class="btn-group">
												<button id="btn-CropperDisable" type="button" class="btn btn-primary" data-method="disable" title="Disable">
													<i class='fa fa-lock'></i>
												</button>
												<button id="btn-CropperEnable" type="button" class="btn btn-primary" data-method="enable" title="Enable">
													<i class='fa fa-unlock'></i>
												</button>
											</div>
											<div class="docs-preview clearfix">
											  <div class="img-prev preview-lg"></div>
											</div>
											<div class="btn-group">
												<label title="Upload image file" for="uploadfile" class="btn btn-primary"> <input type="file" accept="image/*" name="uploadfile"
													id="uploadfile" class="hide"> Upload new image
												</label> <label title="Donload image" id="download" class="btn btn-primary">Download</label>
											</div>
										</form>
									</div>
									<div class="col-sm-6">
										<form id="frmUser" method="POST" class="form-horizontal" role="form">
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="userId"> ID </label>
												<div class="col-sm-10">
													<input type="text" placeholder="ID" class="form-control input-sm" id="userId" readonly />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="userUsername"> Account User </label>
												<div class="col-sm-10">
													<!-- th:field="*{userUsername}" -->
													<input type="text" placeholder="LASTNAME.NAME" class="form-control input-sm" id="userUsername" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="userEmesCompany"> BU / # Employee </label>
												<div class="col-sm-5">
													<input type="text" placeholder="LCTPC" class="form-control input-sm" id="userEmesCompany" />
												</div>
												<div class="col-sm-5">
													<input type="text" placeholder="# EMPLOYEE" class="form-control input-sm" id="userEmesId" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="userActive"> Active </label>
												<div class="col-sm-10">
													<label class="i-checks"> <input type="checkbox" class="form-control input-sm" id="userActive" />
													</label>
												</div>
											</div>
											<!-- <div class="form-group">
											<label class="col-sm-2 control-label no-padding-right" for="userCreatedBy"> CREATED BY </label>
											<div class="col-sm-10">
												th:field="*{userCreatedBy}"
												<input type="text" class="form-control input-sm" id="userCreatedBy" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label no-padding-right" for="userUpdateBy"> UPDATE BY </label>
											<div class="col-sm-10">
												th:field="*{userUpdateBy}"
												<input type="text" class="form-control input-sm" id="userUpdateBy" />
											</div>
										</div> -->
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinProfilePicture"> Profile Picture </label>
												<div class="col-sm-10">
													<!-- th:field="*{accountInf.acinProfilePicture}" -->
													<input type="text" placeholder="SELECT PICTURE" class="form-control input-sm" id="acinProfilePicture" />

												</div>
											</div>
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinName"> Name </label>
												<div class="col-sm-5">
													<!-- th:field="*{accountInf.acinProfilePicture}" -->
													<input type="text" placeholder="NAME" class="form-control input-sm" id="acinName" />
												</div>
												<div class="col-sm-5">
													<input type="text" placeholder="LAST NAME" class="form-control input-sm" id="acinLastName" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinGender"> Gender </label>
												<div class="col-sm-3">
													<div class="i-checks">
														<label> <input type="radio" value="1" name="acinGender" id="acinGender"> <i></i> Man
														</label>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="i-checks">
														<label> <input type="radio" value="2" name="acinGender" id="acinGender"> <i></i> Wowan
														</label>
													</div>

												</div>
											</div>
											<!-- <div class="form-group">
								            <label class="col-sm-3 control-label no-padding-right" for="accountInf.acinTelephone"> TELEPHONE </label>
								            <div class="col-sm-9">
								                <input type="text" class="col-xs-11" th:field="*{accountInf.acinTelephone}" />
								            </div>
								        </div> -->
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinEmail"> Email </label>
												<div class="col-sm-10">
													<!-- th:field="*{accountInf.acinAlternateEmail}" -->
													<input type="text" placeholder="example@domain.com" class="form-control input-sm" id="acinEmail" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinAlternateEmail"> Alternate Email </label>
												<div class="col-sm-10">
													<!-- th:field="*{accountInf.acinAlternateEmail}" -->
													<input type="text" placeholder="example@domain.com" class="form-control input-sm" id="acinAlternateEmail" />
												</div>
											</div>
											<div class="form-group">

												<label class="col-sm-2 control-label no-padding-right" for="acinCreatedBy"> Created By </label>
												<div class="col-sm-10">
													<!-- th:field="*{accountInf.acinCreatedBy}" -->
													<input type="text" class="form-control input-sm" id="acinCreatedBy" readonly />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="acinUpdateBy"> Update By </label>
												<div class="col-sm-10">
													<!-- th:field="*{accountInf.acinUpdateBy}" -->
													<input type="text" class="form-control input-sm" id="acinUpdateBy" readonly />
												</div>
											</div>
											<input type="hidden" placeholder="ID" id="acinUserId" />
										</form>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
								<button id="btnSave" type="button" class="btn btn-primary">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal inmodal fade" id="myModalPass" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">Reset Password</h4>
							</div>
							<div class="modal-body">
								<form id="frmReset" class="form-horizontal" role="form">
									<div class="form-group">
										<label>Password</label>
										<div class="input-group m-b ">
											<span class="input-group-addon"> <input type="checkbox" id="ckbPass" data-trigger="hover" title="Set New Password" />
											</span> <input type="text" id="txtPass" name="txtPass" class="form-control" disabled="disabled" /> <span class="input-group-addon tooltip-demo">
												<input type="checkbox" id="ckbReqNewPass" data-trigger="hover" title="Request New Password at login" />
											</span>
										</div>

										<div class="alert text-center" id="divAlert"></div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" id="btnSaveReset">Send</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal inmodal fade" id="myModalRoles" role="dialog" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">Select Rol</h4>
							</div>
							<div class="modal-body">
								<table class="table table-bordered table-striped table-hover small m-b-xs" id="tableRolesActive">
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
								<button id="btnSaveRolesActive" type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal inmodal fade" id="myModalAppns" role="dialog" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">Select Application</h4>
							</div>
							<div class="modal-body">
								<table class="table table-bordered table-striped table-hover small m-b-xs" id="tableAppsActive">
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
								<button id="btnSaveAppsActive" type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="templates/template :: foot-copyright"></div>
		</div>
	</div>
	<div th:replace="templates/template :: foot-js"></div>
	<!-- DataTable -->
	<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	<!-- Sweet alert -->
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<!-- Jquery Validate -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<!-- Data picker -->
	<script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
	<!-- Toastr script -->
	<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
	<!-- DROPZONE -->
	<script th:src="@{/js/plugins/dropzone/dropzone.js}"></script>
	<!-- Image cropper -->
	<script th:src="@{/js/plugins/cropper/cropper.min.js}"></script>

	<script th:src="@{/pages/users/js/script.js}"></script>
</body>
</html>
